/*Lancement d'une animation css permettant de faire avancer le contenu de la barre de progression de php sur un temps donné. L'animation est lancée exactement après l'affichage des blocs exactements.*/
@keyframes oneAdvance {
  0% {width : 0px;}
  20% {width : 8px;}
}
.progressOne { /*fausse barre de progression php*/
  background-color: white;
  border: 1px ridge black;
  width: 100px;
}
.progressOne:after { /*contenant de la fausse barre de progression*/
    content: "||||||||||";
    width: 8px;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -5px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-name: oneAdvance;
    animation-duration: 2s;
}
/*Lancement d'une animation css permettant de faire avancer le contenu de la barre de progression de commande sur un temps donné. L'animation est lancée exactement après l'affichage des blocs exactements.*/
@keyframes twoAdvance {
  0% {width : 0px;}
  20% {width : 14px;}
}
.progressTwo { /*fausse barre de progression CLI*/
  background-color: white;
  border: 1px ridge black;
  width: 100px;
}
.progressTwo:after { /*contenant de la fausse barre de progression*/
    content: "||||||||||";
    width: 14px;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -5px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-name: twoAdvance;
    animation-duration: 2s;
}
/*Lancement d'une animation css permettant de faire avancer le contenu de la barre de progression de linux sur un temps donné. L'animation est lancée exactement après l'affichage des blocs exactements.*/
@keyframes fifteenAdvance {
  0% {width : 0px;}
  20% {width : 14px;}
  40% {width : 24px;}
}
.progressFifteen { /*fausse barre de progression Linux*/
  background-color: white;
  border: 1px ridge black;
  width: 100px;
}
.progressFifteen:after { /*contenant de la fausse barre de progression*/
    content: "||||||||||";
    width: 37px;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -5px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-name: fifteenAdvance;
    animation-duration: 1.5s;
}
/*Lancement d'une animation css permettant de faire avancer le contenu de la barre de progression de gimp sur un temps donné. L'animation est lancée exactement après l'affichage des blocs exactements.*/
@keyframes fortyAdvance {
  0% {width: 0px;}
  20% {width: 14px;}
  40% {width: 20px;}
  60% {width: 46px;}
}
.progressForty { /*fausse barre de progression*/
  background-color: white;
  border: 1px ridge black;
  width: 100px;
}
.progressForty:after { /*contenant de la fausse barre de progression*/
    content: "||||||||||";
    width: 46px;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -5px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-name: fortyAdvance;
    animation-duration: 1.7s;
}
/*Lancement d'une animation css permettant de faire avancer le contenu de la barre de progression de windows sur un temps donné. L'animation est lancée exactement après l'affichage des blocs exactements.*/
@keyframes fiftyAdvance {
  0% {width: 0px;}
  20% {width: 14px;}
  40% {width: 24px;}
  60% {width: 34px;}
  80% {width: 44px;}
  100% {width: 54px;}
}
.progressFifty { /*fausse barre de progression Windows*/
  background-color: white;
  border: 1px ridge black;
  width: 100px;
}
.progressFifty:after { /*contenant de la fausse barre de progression*/
    content: "||||||||||";
    width: 54px;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -5px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-name: fiftyAdvance;
    animation-duration: 2s;
}
/*Lancement d'une animation css permettant de faire avancer le contenu de la barre de progression de windows sur un temps donné. L'animation est lancée exactement après l'affichage des blocs exactements.*/
@keyframes sixtyAdvance {
  0% {width: 0px;}
  15% {width: 14px;}
  30% {width: 24px;}
  45% {width: 34px;}
  60% {width: 44px;}
  85% {width: 54px;}
  100% {width: 62px;}
}
.progressSixty { /*fausse barre de progression Windows*/
  background-color: white;
  border: 1px ridge black;
  width: 100px;
}
.progressSixty:after { /*contenant de la fausse barre de progression*/
    content: "||||||||||";
    width: 64px;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -5px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-name: sixtyAdvance;
    animation-duration: 2s;
}
